<!DOCTYPE html>
<html>

<head>
<title>Products</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8" />
<meta name="keywords" content="donation connection, charity, donate, voluntary work, online shopping, voluntary, giving, poor people" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<!-- js -->
<script src="js/jquery-1.11.1.min.js"></script>
<!-- //js -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<link href="css/font-awesome.css" rel="stylesheet"> 
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
<!--- start-rate---->
<script src="js/jstarbox.js"></script>
	<link rel="stylesheet" href="css/jstarbox.css" type="text/css" media="screen" charset="utf-8" />
		<script type="text/javascript">
			jQuery(function() {
			jQuery('.starbox').each(function() {
				var starbox = jQuery(this);
					starbox.starbox({
					average: starbox.attr('data-start-value'),
					changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
					ghosting: starbox.hasClass('ghosting'),
					autoUpdateAverage: starbox.hasClass('autoupdate'),
					buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
					stars: starbox.attr('data-star-count') || 5
					}).bind('starbox-value-changed', function(event, value) {
					if(starbox.hasClass('random')) {
					var val = Math.random();
					starbox.next().text(' '+val);
					return val;
					} 
				})
			});
		});
		</script>
<!---//End-rate---->

</head>

<body>
	<div class="header">
		<div class="container" style="width: auto">
				<div class="logo">
						<img src="images/new_logo.png">
						<h1><a href="home.html">Donation Connection</a></h1>
				</div>
				<div class="nav-top">
						<nav class="navbar navbar-default">
							<div>
								<ul class="nav navbar-nav ">
										<li ><a href="home.html" class="hyper "><span>Home</span></a></li>	
										<li ><a href="products.html" class="hyper "><span>Products</span></a></li>
										<li ><a href="voluntary_works.html" class="hyper "><span>Voluntary Works</span></a></li>
										<li ><a href="free_services.html" class="hyper "><span>Free Services</span></a></li>
										<li ><a href="charities.html" class="hyper "><span>Charities</span></a></li>
										<li ><a href="contact.html" class="hyper "><span>Contact Us</span></a></li>
								</ul>
							</div>
						</nav>
						<div class="cart">
								<a href="cart.html"><span class="fa fa-shopping-cart my-cart-icon"><span class="badge badge-notify my-cart-badge"></span></span></a>
						</div>
						<div class="head-t card my_login">
								<ul>
										<li><a href="login.html" ><i class="fa fa-user" aria-hidden="true"></i>Login</a></li>
										<li><a href="register.html" ><i class="fa fa-arrow-right" aria-hidden="true"></i>Register</a></li>
								</ul>	
						</div>
						<div class="clearfix"></div>
				</div>        
		</div>		
	</div>

	<div class="product" style="padding: 0 0 0.6em;">
				<div class="spec ">
					<h3 style="background-image: url('images/products-top.jpg');background-position: center; padding:0.8em; margin-left: 0px; margin-right: 0px">Products</h3>
				</div>
		<div class="container">
			<div class=" con-w3l agileinf">
				<div class="col-md-3 pro-1">
					<div class="col-m">
						<a href="#" data-toggle="modal" data-target="#myModal1" class="offer-img">
							<img src="images/wooden-necklace00.png" class="img-responsive" alt="">
						</a>
						<div class="mid-1">
							<div class="women">
								<h6><a href="single.html">Wooden necklace</a></h6>							
							</div>
							<div class="mid-2">
								<p ><label>Price:</label><em class="item_price">$6.00</em></p>
								<div class="clearfix"></div>
							</div>
							<div class="add">
								<button class="btn btn-danger my-cart-btn my-cart-b" data-id="24" data-name="Wooden necklace" data-summary="summary 24" data-price="6.00" data-quantity="1" data-image="images/4m.png">Add to Cart</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 pro-1">
					<div class="col-m">
						<a href="#" data-toggle="modal" data-target="#myModal2" class="offer-img">
						<img src="images/monstor-pencilcase.png" class="img-responsive" alt="">
						</a>
							<div class="mid-1">
								<div class="women">
									<h6><a href="single.html">Monstor pencilcase

						</a></h6>							
								</div>
								<div class="mid-2">
									<p ><label>Price:</label><em class="item_price">$4.50</em></p>
									<div class="clearfix"></div>
								</div>
								<div class="add">
									<button class="btn btn-danger my-cart-btn my-cart-b" data-id="25" data-name="Monstor pencilcase" data-summary="summary 25" data-price="4.50" data-quantity="1" data-image="images/7m.png">Add to Cart</button>
								</div>
							</div>
					</div>
				</div>
				<div class="col-md-3 pro-1">
					<div class="col-m">
						<a href="#" data-toggle="modal" data-target="#myModal3" class="offer-img">
						<img src="images/friendship-bracelet.png" class="img-responsive" alt="">
						</a>
							<div class="mid-1">
								<div class="women">
									<h6><a href="single.html">Bracelet</a></h6>							
								</div>
								<div class="mid-2">
									<p ><label>Price:</label><em class="item_price">$3.50</em></p>
									<div class="clearfix"></div>
								</div>
								<div class="add">
									<button class="btn btn-danger my-cart-btn my-cart-b" data-id="26" data-name="Bracelet" data-summary="summary 26" data-price="3.50" data-quantity="1" data-image="images/17m.png">Add to Cart</button>
								</div>
							</div>
					</div>
				</div>
				<div class="col-md-3 pro-1">
					<div class="col-m">
						<a href="#" data-toggle="modal" data-target="#myModal4" class="offer-img">
							<img src="images/felt-dolls.png" class="img-responsive" alt="">
						</a>
						<div class="mid-1">
							<div class="women">
								<h6><a href="single.html">Felt ice cream toys</a></h6>							
							</div>
							<div class="mid-2">
								<p ><label>Price:</label><em class="item_price">$0.80</em></p>
								<div class="clearfix"></div>
							</div>
								<div class="add">
								<button class="btn btn-danger my-cart-btn my-cart-b" data-id="27" data-name="Felt ice cream toys" data-summary="summary 27" data-price="0.80" data-quantity="1" data-image="images/5cc.png">Add to Cart</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 pro-1">
					<div class="col-m">
					<a href="#" data-toggle="modal" data-target="#myModal5" class="offer-img">
							<img src="images/felt-bag.png" class="img-responsive" alt="">
						</a>
						<div class="mid-1">
							<div class="women">
								<h6><a href="single.html">Felt bag</a></h6>							
							</div>
							<div class="mid-2">
								<p ><label>Price:</label><em class="item_price">$6.00</em></p>
								<div class="clearfix"></div>
							</div>
								<div class="add">
								<button class="btn btn-danger my-cart-btn my-cart-b" data-id="28" data-name="Felt bag" data-summary="summary 28" data-price="6.00" data-quantity="1" data-image="images/6cc.png">Add to Cart</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 pro-1">
					<div class="col-m">
						<a href="#" data-toggle="modal" data-target="#myModal6" class="offer-img">
							<img src="images/wicker-bag.png" class="img-responsive" alt="">
						</a>
						<div class="mid-1">
							<div class="women">
								<h6><a href="single.html">Wicker bag</a></h6>							
							</div>
							<div class="mid-2">
								<p ><label>Price:</label><em class="item_price">$4.50</em></p>
								<div class="clearfix"></div>
							</div>
								<div class="add">
								<button class="btn btn-danger my-cart-btn my-cart-b" data-id="29" data-name="Wicker bag" data-summary="summary 29" data-price="4.50" data-quantity="1" data-image="images/9c.png">Add to Cart</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 pro-1">
					<div class="col-m">
						<a href="#" data-toggle="modal" data-target="#myModal7" class="offer-img">
							<img src="images/bag.png" class="img-responsive" alt="">
						</a>
						<div class="mid-1">
							<div class="women">
								<h6><a href="single.html">Wicker bag</a></h6>							
							</div>
							<div class="mid-2">
								<p ><label>Price:</label><em class="item_price">$3.50</em></p>
								<div class="clearfix"></div>
							</div>
								<div class="add">
								<button class="btn btn-danger my-cart-btn my-cart-b" data-id="30" data-name="Wicker bag" data-summary="summary 30" data-price="3.50" data-quantity="1" data-image="images/11c.png">Add to Cart</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 pro-1">
					<div class="col-m">
						<a href="#" data-toggle="modal" data-target="#myModal8" class="offer-img">
							<img src="images/bracelet.png" class="img-responsive" alt="">
						</a>
						<div class="mid-1">
							<div class="women">
								<h6><a href="single.html">Bracelet</a></h6>							
							</div>
							<div class="mid-2">
								<p ><label>Price:</label><em class="item_price">$0.80</em></p>
								<div class="clearfix"></div>
							</div>
								<div class="add">
								<button class="btn btn-danger my-cart-btn my-cart-b" data-id="31" data-name="Bracelet" data-summary="summary 31" data-price="0.80" data-quantity="1" data-image="images/13c.png">Add to Cart</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 pro-1">
					<div class="col-m">
					<a href="#" data-toggle="modal" data-target="#myModal9" class="offer-img">
							<img src="images/handmade-doll2.jpg" class="img-responsive" alt="">
						</a>
						<div class="mid-1">
							<div class="women">
								<h6><a href="single.html">Handmade doll</a></h6>							
							</div>
							<div class="mid-2">
								<p ><label>Price:</label><em class="item_price">$6.00</em></p>
								<div class="clearfix"></div>
							</div>
								<div class="add">
								<button class="btn btn-danger my-cart-btn my-cart-b" data-id="32" data-name="Handmade doll" data-summary="summary 32" data-price="6.00" data-quantity="1" data-image="images/39c.jpg">Add to Cart</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 pro-1">
					<div class="col-m">
						<a href="#" data-toggle="modal" data-target="#myModal10" class="offer-img">
							<img src="images/wooden-necklace0.png" class="img-responsive" alt="">
						</a>
						<div class="mid-1">
							<div class="women">
								<h6><a href="single.html">Wooden necklace</a></h6>							
							</div>
							<div class="mid-2">
								<p ><label>Price:</label><em class="item_price">$4.50</em></p>
								<div class="clearfix"></div>
							</div>
								<div class="add">
								<button class="btn btn-danger my-cart-btn my-cart-b" data-id="33" data-name="Wooden necklace" data-summary="summary 33" data-price="4.50" data-quantity="1" data-image="images/3c.png">Add to Cart</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 pro-1">
					<div class="col-m">
						<a href="#" data-toggle="modal" data-target="#myModal11" class="offer-img">
							<img src="images/stone-bracelet.png" class="img-responsive" alt="">
						</a>
						<div class="mid-1">
							<div class="women">
								<h6><a href="single.html">Stone bracelet</a></h6>							
							</div>
							<div class="mid-2">
								<p ><label>Price:</label><em class="item_price">$3.50</em></p>
								<div class="clearfix"></div>
							</div>
								<div class="add">
								<button class="btn btn-danger my-cart-btn my-cart-b" data-id="34" data-name="Stone bracelet" data-summary="summary 34" data-price="3.50" data-quantity="1" data-image="images/15c.png">Add to Cart</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 pro-1">
					<div class="col-m">
						<a href="#" data-toggle="modal" data-target="#myModal12" class="offer-img">
							<img src="images/leather-wallet.png" class="img-responsive" alt="">
						</a>
						<div class="mid-1">
							<div class="women">
								<h6><a href="single.html">Leather wallet</a></h6>							
							</div>
							<div class="mid-2">
								<p ><label>Price:</label><em class="item_price">$0.80</em></p>
								<div class="clearfix"></div>
							</div>
								<div class="add">
								<button class="btn btn-danger my-cart-btn my-cart-b" data-id="35" data-name="Leather wallet" data-summary="summary 35" data-price="0.80" data-quantity="1" data-image="images/24c.png">Add to Cart</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 pro-1">
						<div class="col-m">
							<a href="#" data-toggle="modal" data-target="#myModal12" class="offer-img">
								<img src="images/felt-bag.png" class="img-responsive" alt="">
							</a>
							<div class="mid-1">
								<div class="women">
									<h6><a href="single.html">Felt bag</a></h6>							
								</div>
								<div class="mid-2">
									<p ><label>Price:</label><em class="item_price">$0.80</em></p>
									<div class="clearfix"></div>
								</div>
									<div class="add">
									<button class="btn btn-danger my-cart-btn my-cart-b" data-id="35" data-name="Leather wallet" data-summary="summary 35" data-price="0.80" data-quantity="1" data-image="images/24c.png">Add to Cart</button>
								</div>
							</div>
						</div>
				</div>
				<div class="col-md-3 pro-1">
							<div class="col-m">
								<a href="#" data-toggle="modal" data-target="#myModal12" class="offer-img">
									<img src="images/handmade-doll1.jpg" class="img-responsive" alt="">
								</a>
								<div class="mid-1">
									<div class="women">
										<h6><a href="single.html">Handmade Doll</a></h6>							
									</div>
									<div class="mid-2">
										<p ><label>Price:</label><em class="item_price">$0.80</em></p>
										<div class="clearfix"></div>
									</div>
										<div class="add">
										<button class="btn btn-danger my-cart-btn my-cart-b" data-id="35" data-name="Leather wallet" data-summary="summary 35" data-price="0.80" data-quantity="1" data-image="images/24c.png">Add to Cart</button>
									</div>
								</div>
							</div>
				</div>
				<div class="col-md-3 pro-1">
								<div class="col-m">
									<a href="#" data-toggle="modal" data-target="#myModal12" class="offer-img">
										<img src="images/leather-wallet.png" class="img-responsive" alt="">
									</a>
									<div class="mid-1">
										<div class="women">
											<h6><a href="single.html">leather Wallet</a></h6>							
										</div>
										<div class="mid-2">
											<p ><label>Price:</label><em class="item_price">$0.80</em></p>
											<div class="clearfix"></div>
										</div>
											<div class="add">
											<button class="btn btn-danger my-cart-btn my-cart-b" data-id="35" data-name="Leather wallet" data-summary="summary 35" data-price="0.80" data-quantity="1" data-image="images/24c.png">Add to Cart</button>
										</div>
									</div>
								</div>
				</div>
				<div class="col-md-3 pro-1">
											<div class="col-m">
													<a href="#" data-toggle="modal" data-target="#myModal12" class="offer-img">
														<img src="images/handmade-doll1.jpg" class="img-responsive" alt="">
													</a>
													<div class="mid-1">
														<div class="women">
															<h6><a href="single.html">Handmade Doll</a></h6>							
														</div>
														<div class="mid-2">
															<p ><label>Price:</label><em class="item_price">$0.80</em></p>
															<div class="clearfix"></div>
														</div>
															<div class="add">
														   <button class="btn btn-danger my-cart-btn my-cart-b" data-id="35" data-name="Leather wallet" data-summary="summary 35" data-price="0.80" data-quantity="1" data-image="images/24c.png">Add to Cart</button>
														</div>
													</div>
												</div>
				</div>

				<br>

				<div class="center">
					<div class="pagination">
					<a href="#">&laquo;</a>
					<a href="#">1</a>
					<a href="#" class="active">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<a href="#">5</a>
					<a href="#">6</a>
					<a href="#">&raquo;</a>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<div class="footer">
		<div class="container">
				<div class="col-md-3 footer-grid">
						<h3>About Us</h3>
						<p>This project is basically an online charity store. 
								Children and people in need can give their handmade crafts 
								to the nearest charity in their neighborhood so the charity 
								can sell their products on the website.
								Another part of our project is voluntary work</p>
				</div>
				<div class="col-md-3 footer-grid">
						<h3>Menu</h3>
						<ul>
								<li><a href="home.html">Home</a></li>
								<li><a href="products.html">Products</a></li>
								<li><a href="voluntary_works.html">Voluntary Works</a></li>
								<li><a href="free_services.html">Free Services</a></li>						 
								<li><a href="charities.html">Charities</a></li> 
								<li><a href="contact.html">Contact Us</a></li>
						</ul>
				</div>
				<div class="col-md-3 footer-grid">
						<h3>My Account</h3>
						<ul>
								<li><a href="login.html">Login</a></li>
								<li><a href="register.html">Register</a></li>
								<li><a href="cart.html">Cart</a></li>
						</ul>
				</div>
				<div class="col-md-3 footer-grid">
						<h3>Contact Us</h3>
						<ul>
								<li><p>Tel: 09022228837</p></li>
								<li><p>Email: onlinecharity@gmail.com</p></li>
								<li><p>Address: Iran, Tehran, Narmak, Farjam Ave, IUST</p></li>
						</ul>
				</div>
				<div class="clearfix"></div>
				<div class="copy-right">
						<p> &copy; 2019 Donation Connection. All Rights Reserved | Design by  <a href="http://w3layouts.com/"> Team</a></p>
				</div>
		</div>
	</div>

<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
	<script type='text/javascript' src="js/jquery.mycart.js"></script>
  	<script type="text/javascript">
  $(function () {

    var goToCartIcon = function($addTocartBtn){
      var $cartIcon = $(".my-cart-icon");
      var $image = $('<img width="30px" height="30px" src="' + $addTocartBtn.data("image") + '"/>').css({"position":"fixed", "z-index": "999"});
      $addTocartBtn.prepend($image);
      var position = $cartIcon.position();
      $image.animate({
        top: position.top,
        left: position.left
      }, 500 , "linear", function() {
        $image.remove();
      });
    }

    $('.my-cart-btn').myCart({
      classCartIcon: 'my-cart-icon',
      classCartBadge: 'my-cart-badge',
      affixCartIcon: true,
      checkoutCart: function(products) {
        $.each(products, function(){
          console.log(this);
        });
      },
      clickOnAddToCart: function($addTocart){
        goToCartIcon($addTocart);
      },
      getDiscountPrice: function(products) {
        var total = 0;
        $.each(products, function(){
          total += this.quantity * this.price;
        });
        return total * 1;
      }
    });

  });
 	</script>

</body>
</html>